<mat-sidenav-container class="shell-container">
  <mat-sidenav mode="side" opened class="shell-sidenav">
    <mat-toolbar color="primary">omuletachou</mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        *ngFor="let item of navItems"
        [routerLink]="item.path"
        routerLinkActive="active-link"
        data-testid="nav-item"
      >
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span matListItemTitle>{{ item.label }}</span>
      </a>
      <button
        mat-list-item
        class="logout-button"
        data-testid="logout-button"
        (click)="logout()"
      >
        <mat-icon matListItemIcon>logout</mat-icon>
        <span matListItemTitle>Logout</span>
      </button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="shell-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
